/* DARK THEME */
.bg-light-black {
  background-color: #463636 !important;
}
.text-black {
  color: rgb(0, 0, 0);
}
.text-light-black {
  color: #262626;
}
.bg-dark-primary {
  background-color: #8a6fff !important;
}
.text-dark-primary {
  color: #ffb45e !important;
}

/* LIGHT THEME */
.bg-light-2 {
  background-color: #0080ff;
}
.bg-light-primary {
  background-color: #fb5000 !important;
}
.text-light-primary {
  color: #3f3fc7 !important;
}
